In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('default_table_dates.csv')

In [20]:
df

           day ccc1  ccc2
0   2018-07-15  qqq  1.70
1   2019-04-20  www  3.40
2   2020-01-27  eee  5.10
3   2018-07-16  qqq  2.55
4   2019-04-21  www  2.04
5   2020-01-28  eee  4.25
6   2018-07-17  qqq  2.21
7   2019-04-22  www  2.38
8   2020-01-29  eee  5.44
9   2018-07-18  qqq  3.23
10  2019-04-23  www  3.40
11  2020-01-30  eee  5.95

In [21]:
df.dtypes

day      object
ccc1     object
ccc2    float64
dtype: object

In [22]:
def date_col_integrity(ser):
    if not isinstance(ser[0], str):
        ser = ser.astype(str)
    if '-' in ser[0]:
        sep = '-'
    elif '/' in ser[0]:
        sep = '/'
    else:
        return False, 'no separator found'
    date_parts = ser.apply(lambda x: x.split(sep))
    if (date_parts.apply(lambda x: len(x)) == 3).all():
        try:
            datetime_ser = pd.to_datetime(ser)
            return True, datetime_ser
        except:
            return False, 'error converting to datetime'
    else:
        return False, 'not all dates have exactly 3 components'

In [23]:
date_col_integrity(df['day'])

(True,
 0    2018-07-15
 1    2019-04-20
 2    2020-01-27
 3    2018-07-16
 4    2019-04-21
 5    2020-01-28
 6    2018-07-17
 7    2019-04-22
 8    2020-01-29
 9    2018-07-18
 10   2019-04-23
 11   2020-01-30
 Name: day, dtype: datetime64[ns])

In [7]:
q = df['day'].apply(lambda x: x.split('/'))
q

0       [2018-07-15]
1       [04, 20, 19]
2       [01-27-2020]
3     [2018, 07, 16]
4       [2019-04-21]
5       [2020-01-28]
6       [2018-07-17]
7       [2019-04-22]
8       [2020-01-29]
9       [2018-07-18]
10      [2019-04-23]
11      [2020-01-30]
Name: day, dtype: object

In [8]:
(q.apply(lambda x: len(x)) == 3).all()

False

In [9]:
pd.to_datetime(df['day'])

0    2018-07-15
1    2019-04-20
2    2020-01-27
3    2018-07-16
4    2019-04-21
5    2020-01-28
6    2018-07-17
7    2019-04-22
8    2020-01-29
9    2018-07-18
10   2019-04-23
11   2020-01-30
Name: day, dtype: datetime64[ns]